body {
  background: url("fundo.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #e0e0e0;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Rubik", sans-serif;
  height: 100%;
}

header {
  background-color: #112b49;
  color: white;
  padding: 10px 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

main {
  width: 90%;
  max-width: 1000px;
  padding: 20px;
  position: relative;
  flex-grow: 1;
}

section {
  background-color: #1e1e1e;
  color: #e0e0e0;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#form-cadastro input,
#form-cadastro select {
  padding: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #444;
  border-radius: 4px;
  background-color: #2c2c2c;
  color: #e0e0e0;
}

#form-cadastro button {
  background-color: #20446e;
  color: white;
  padding: 10px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

#form-cadastro button:hover {
  background-color: #396094;
}

#tabela-dispositivos {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
}

#tabela-dispositivos th,
#tabela-dispositivos td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #333;
}

#tabela-dispositivos th {
  background-color: #2c2c2c;
  color: white;
}

.status-online {
  font-weight: bold;
  color: white;
  background-color: #28a745;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
}

.status-offline {
  font-weight: bold;
  color: white;
  background-color: #dc3545;
  padding: 4px 8px;
  border-radius: 4px;
  text-align: center;
}

.botao-remover {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.botao-remover:hover {
  background-color: #c82333;
}
